body {
    background-color: dimgray;
}

select {
    position: relative;
    top: 80px;
    right: 230px;
}

button {
    position: relative;
    top: 80px;
    right: 230px;
}

div {
    border: 3px solid #73AD21;
    position: absolute;
    bottom: 120px;
    left: 160px;
}
