body {
    background-color: aliceblue;
}

input.Search {
    position: relative;
    top: 40px;
    right: 230px;
}

button {
    position: relative;
    top: 40px;
    right: 230px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    top: 80px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
