body {
    background-color: whitesmoke;
}

div.edid-button {
    position: relative;
    left: 70px;
    top: 80px;
}

div.ir-button {
    position: relative;
    left: 500px;
    bottom: 125px;
}

div.ana-button {
    position: relative;
    left: 70px;
    bottom: 40px;
}

input {
    position: relative;
    top: 80px;
    right: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button {
    position: relative;
    top: 40px;
    right: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    top: 80px;
    display: none;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

select {
    position: relative;
    top: 80px;
    right: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button {
    position: relative;
    top: 80px;
    right: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

div.Graph {
    border: 2px solid #73AD21;
    position: absolute;
    bottom: 120px;
    left: 160px;
    display: none;
}
